@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body, p, .normal {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, .header {
  font-family: 'Roboto Slab', serif;
}

article p {
  line-height: 1.5;
}

article img {
}

article a { -webkit-transition: color .4s; transition: color .4s; color: #265C83; }
article a:link, article a:visited { color: #265C83; }
article a:hover { color: #7FDBFF; }
article a:active { -webkit-transition: color .3s; transition: color .3s; color: #007BE6; }
