@import 'tailwindcss';
@plugin "daisyui";

@config '../../tailwind.config.ts';

body,
p {
  font-family: var(--font-roboto);
}

.prose pre,
pre {
  padding: 1em;
  overflow: scroll;
  line-height: 1.1;
}

.prose pre code,
code {
  padding: 0.2em;
}

h1,
h2,
h3,
h4,
.header {
  font-family: var(--font-roboto-slab);
}


h1,
.f1 {
  font-size: 3rem;
}

h2,
.f2 {
  font-size: 2.25rem;
}

h3,
.f3 {
  font-size: 1.5rem;
}

h4,
.f4 {
  font-size: 1.25rem;
}

h5,
.f5 {
  font-size: 1rem;
}

h6,
.f6 {
  font-size: .875rem;
}

article p {
  line-height: 1.5;
  margin: 1em 0;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

article a {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

a.blue:active,
article a:active {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

section .react-mde .grip {
  height: 1em;
}

/* athelas ml0 mt0 pl4 black-90 bl bw2 b--blue */
article blockquote {
  border-left-style: solid;
  border-width: 0 0 0 0.5em;
  padding: 0 2rem;
  margin-left: 0;
  margin-right: 1rem;
  margin-top: 0;
}

/* f5 f4-m f3-l lh-copy measure mt0 */
article blockquote p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.5rem;
}

/* f6 ttu tracked fs-normal */
article blockquote cite {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style: normal;
}

article ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

article ul {
  list-style-type: circle;
  margin-left: 1rem;
}

article li {
  line-height: 1.5;
  margin-left: 1rem;
}

article hr {
  border: 0;
  border-top: 0.3rem dotted;
  margin: 1rem;
}

picture {
  background-color: theme('colors.secondary');
  padding: 1rem;
  border-radius: 1rem;
}

/* https://tailwindcss.com/docs/responsive-design */
@media not all and (min-width: 640px) {

  h1,
  .f1 {
    font-size: 2rem;
  }

  h2,
  .f2 {
    font-size: 1.75rem;
  }

  h3,
  .f3 {
    font-size: 1.5rem;
  }

  h4,
  .f4 {
    font-size: 1.15rem;
  }

  article ol,
  article ul {
    margin-left: 0.5rem;
  }
}
