@import url('https://rsms.me/inter/inter-ui.css');

body {
  color: #2d2d2c;
  background-color: #ffffff;
  font-family: 'Inter UI', sans-serif;
}

a, a:link, a:visited {
  transition: color .4s;
  color: #555;
}

a:hover {
  color: #000;
}

a:active {
  transition: color .3s;
  color: #000;
}

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin-left: 0px;
}

