name: Archive all posts
on:
  schedule:
    - cron: 36 0 * * *
  workflow_dispatch:
jobs:
  get_posts:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v6
      - name: Install zsh
        run: sudo apt-get update; sudo apt-get install zsh
      - name: Retrieve all posts
        run: |
          POSTS=$(./all-posts.sh)
          echo "posts=$POSTS" >> $GITHUB_OUTPUT
        id: posts
    outputs:
      posts: ${{ steps.posts.outputs.posts }}
  archive:
    needs: get_posts
    if: needs.get_posts.outputs.posts != '[]'
    strategy:
      matrix:
        url: ${{ fromJson(needs.get_posts.outputs.posts) }}
    runs-on: ubuntu-latest
    steps:
      - uses: JamieMagee/wayback@v2.1.0
        with:
          url: ${{ matrix.url }}
          saveErrors: false
          saveOutlinks: true
          saveScreenshot: true
